<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置连接池-->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig"/>
    <!--配置数据源-->
    <bean id="jedisConn1" class="redis.clients.jedis.JedisShardInfo">
        <constructor-arg name="host" value="192.168.167.3"/>
        <constructor-arg name="port" value="6379"/>
        <property name="password" value="8286565161"/>
    </bean>
    <!--配置数据源-->
    <bean id="jedisConn2" class="redis.clients.jedis.JedisShardInfo">
        <constructor-arg name="host" value="120.79.27.230"/>
        <constructor-arg name="port" value="6379"/>
        <property name="password" value="redislg123456"/>
    </bean>
    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool">
        <constructor-arg name="poolConfig" ref="poolConfig"/>
        <constructor-arg name="shards">
            <list>
                <ref bean="jedisConn1"/>
                <ref bean="jedisConn2"/>
            </list>
        </constructor-arg>
    </bean>
    <!--&lt;!&ndash;session共享&ndash;&gt;-->
    <!--&lt;!&ndash;spring中的分布式session的配置&ndash;&gt;-->
    <!--&lt;!&ndash;<bean id="redisHttpSessionConfiguration" class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration">-->
        <!--&lt;!&ndash;配置session的生命周期&ndash;&gt;-->
        <!--<property name="maxInactiveIntervalInSeconds" value="3600"/>-->
    <!--</bean>&ndash;&gt;-->
</beans>